<template>
    <article>
        <router-link class="fixed p-4 block font-extrabold" to="/" aria-label="Back to home page">&#8592; BACK</router-link>
        
        <div class="grid grid-cols-2 gap-4 ">
            <div ref="subtitles" class="flex flex-row pt-10 pb-10 h-screen overflow-y-auto smoothScroll ">
                <ul class="w-full">
                    <li v-for="(subtitle,index) in subtitles" :key="index" class="w-full" >
                        <subtitle 
                            :current-time="time"
                            :text="subtitle.text" 
                            :play="goToSegment" 
                            :start="subtitle.start" 
                            :duration="subtitle.duration"
                            :scroll-to="scrollToSubTitle"/>
                    </li>
                </ul>
            </div>
            <div class="relative h-screen overflow-y-auto flex items-center justify-center">
                <div class="videoWrapper">
                    <div ref="player" ></div>
                </div>
            </div>
        </div>
    </article>
</template>

<script>
/* global YT */

export default {
    layout: 'default',
    data(){
        return {
            subtitles:null,
            videoID:this.$route.params.video,
            player:null,
            playerTime:null,
            time: 0,
            scrolling:false
        } 
    },
    mounted(){
        this.getTranscripts();
        this.startVideo();
    },
    destroyed(){
        clearTimeout(this.playerTime);
        if(this.player){
            this.player.destroy();
        }
    },
    methods: {
        async getTranscripts() {
            this.subtitles = await this.$axios.$get(`https://xp5zial6h3.execute-api.ca-central-1.amazonaws.com/default/${this.videoID}`)
        },
        goToSegment(time){
            if(this.player){
                this.player.seekTo(time);
                this.player.playVideo();
            }
        },
        startVideo(){
            if(typeof YT !== "undefined" && YT.Player){
                this.player = new YT.Player(this.$refs.player, {
                    height: '390',
                    width: '640',
                    videoId: this.videoID,
                    playerVars: {
                        'playsinline': 1
                    },
                    events: {
                        'onReady': ()=>{
                            // console.log("On Player Ready")
                        },
                        'onStateChange': ()=>{
                            // console.log("On State Change")
                        }
                    }
                });
                this.getTime();
                // this.player.getCurrentTime()
            } else {
                setTimeout(this.startVideo,200);
            }
        },
        getTime(){
            clearTimeout(this.playerTime);
            this.playerTime = setTimeout(this.getTime,200);
            if(this.player && this.player.getCurrentTime){
                this.time = parseInt(this?.player?.getCurrentTime()*1000);
            }
        },
        scrollToSubTitle(target){
            // we scroll to the target
            // we only scroll if it's not already scrolling
            if(target && !this.scrolling){
                const fromTop = target?.getBoundingClientRect().top;
                const windowHeight = window.innerHeight/2;
                if(Math.abs(fromTop-windowHeight)>windowHeight/2 ){
                    this.$refs.subtitles.scroll(0,fromTop + this.$refs.subtitles.scrollTop - windowHeight)
                    this.scrolling = true;
                    setTimeout(()=>{
                        this.scrolling = false;
                    },1000);
                }
            }
        }
    }
}
</script>

<style >
    .smoothScroll{
        scroll-behavior: smooth;
    }
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        max-width: 100%;
        width: 100%;
    }
    
    .videoWrapper iframe,.videoWrapper > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ccc;
    }
</style>
