<template>
    <div ref="container" :class="active" class="w-full">
        <button :alt="`play video from ${start} second`" class="w-full" @click.prevent="playThisSegment">
            <p class="text-left text-lg	p-3">
                {{text}}
            </p>
        </button>
    </div>
</template>
<script>
export default {
    props:{
        'text':{type:String,default:""},
        'start':{type:Number,default:0},
        'duration':{type:Number,default:0},
        'currentTime':{type:Number,default:0},
        'play':{type:Function,default:()=>{}},
        'scrollTo':{type:Function,default:()=>{}}
    },
    computed:{
        active(){
            if(this.currentTime/1000 >= this.start && this.currentTime/1000 < this.start + this.duration){
                this.scrollTo(this.$refs?.container);
                return "bg-gray-400"
            }
            return ""
        }
    },
    methods:{
        playThisSegment() {
            this.play(this.start)
        }
    }
}
</script>