<template>
  <Nuxt />
</template>
<script>
export default {
    mounted(){
        const tag = document.createElement('script');
        console.log(tag);
        tag.src = "https://www.youtube.com/iframe_api";
        const firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    }
}
</script>