<template>
  <main>
    <div 
    class="flex flex-col  h-screen justify-center items-center ">
      <div class="w-3/4 lg:w-1/2  pb-20">
        <h1 class="text-4xl sm:text-6xl lg:text-7xl leading-none font-extrabold tracking-tight text-gray-900 mt-10 mb-8 sm:mt-14 sm:mb-10">Large Captions</h1>
        <p class="max-w-screen-lg text-lg sm:text-2xl font-medium mb-10 sm:mb-11">Add the URL of the youtube video you would like to see the captions for</p>

        <form class="" action="" @submit.prevent="getYoutubeVideo">
          <label for="id_video_url" class="max-w-screen-lg text-lg sm:text-2xl sm:leading-10 font-medium mb-10 sm:mb-11">Youtube URL:</label>
          <p v-if="error" class="max-w-screen-lg text-lg sm:text-2xl font-medium sm:mb-3 text-red-700" >{{error}}</p>
          <input 
            id="id_video_url" 
            v-model="videoURL" 
            type="URL" 
            name="video_url"
            class="focus:border-light-blue-500 focus:ring-1 focus:ring-light-blue-500 focus:outline-none w-full text-sm text-black placeholder-gray-500 border border-gray-200 rounded-md py-2 pl-2" 
            aria-label="Filter projects">
          <div class="flex-auto flex space-x-3 justify-center">
            <button 
              type="submit" 
              class="w-3/4 py-5 mt-5 flex items-center justify-center rounded-md bg-black text-white font-medium text-lg"> 
              Go 
            </button>
          </div>

        </form>
        </div>
    </div>
  </main>
</template>

<script>
export default {
  data(){
    return {
      videoURL:'',
      error:""
    };
  },
  methods:{
    getYoutubeVideo() {
      this.error = ""
      let video = this.videoURL;
      const defaultError = "Please provide a valid youtube URL.";
      if(video && video.length >= 11){
        video = video.match(/[A-Za-z\-0-9/_]{11}/)[0];
        if(video){
          this.$router.push({
            path: `/video/${video}`
          })
        } else {
          this.error = defaultError
        }
      } else {
        this.error = defaultError
      }
      if(video.length >= 11){
        this.error = "Please add a youtube video URL."
      }
    }
  }
}
</script>
